<!-- Footer -->
<footer class="site-footer">
  <div class="footer-container">
    <div class="footer-columns">
      <div class="footer-column">
        <div class="enquiries-wrapper">
          <div class="enquiry">
            <h4>GENERAL ENQUIRIES</h4>
            <p>+44 (0) 1536 415 411</p>
            <a href="mailto:enquiries@loake.co.uk">enquiries@loake.co.uk</a>
          </div>

          <div class="enquiry">
            <h4>ONLINE ENQUIRIES</h4>
            <p>+44 (0) 1536 315 900</p>
            <a href="mailto:web.enquiries@loake.co.uk">web.enquiries@loake.co.uk</a>
          </div>
        </div>

        <p class="note">Our Customer Services department is open Monday to Friday...</p>
        <p>Sign up to our newsletter below to get updates.</p>

        <label for="newsletter">NEWSLETTER SIGN UP</label>
        <input type="email" placeholder="Email address..." />
        <button>Sign Up</button>
      </div>

      <div class="footer-column">
        <h4>ABOUT LOAKE</h4>
        <ul>
          <li><a href="#"><i class="fab fa-facebook-f"></i> Facebook</a></li>
          <li><a href="#"><i class="fab fa-instagram"></i> Instagram</a></li>
          <li><a href="#"><i class="fas fa-book-open"></i> Loake Journal</a></li>
          <li><a href="#"><i class="fas fa-landmark"></i> History & Heritage</a></li>
          <li><a href="#"><i class="fas fa-tools"></i> Craftsmanship</a></li>
          <li><a href="#"><i class="fas fa-th-large"></i> Our Collections</a></li>
          <li><a href="#"><i class="fas fa-store"></i> Find a Loake Store</a></li>
        </ul>
      </div>

      <div class="footer-column crest">
        <img src="/images/footer-logo-kings.jpg" alt="Loake Royal Crest" />
        <p>BY APPOINTMENT TO<br>HIS MAJESTY THE KING<br>MANUFACTURER OF MEN'S FOOTWEAR</p>
      </div>
    </div>

    <div class="payment-icons">
      <img src="/images/footer-payment-logos.svg" alt="Payment Logos" />
    </div>

    <p class="copyright">
      &copy; 2025 Loake Bros Ltd. All rights reserved.
    </p>
  </div>
</footer>

<div class="footer-links-bar">
  <ul class="footer-links">
    <li><a href="#">Contact</a></li>
    <li><a href="#">Delivery & Returns</a></li>
    <li><a href="#">FAQs</a></li>
    <li><a href="#">Careers</a></li>
    <li><a href="#">Privacy</a></li>
    <li><a href="#">Terms</a></li>
    <li><a href="#">Cookies</a></li>
    <li><a href="#">Sustainability</a></li>
    <li><a href="#">Klarna</a></li>
  </ul>
</div>
